<h1>{{article.heading}}</h1><br> <img src={{article.image}} width=500px><br> By {{article.author}} {{article.date}}<br>
<p>{{article.content}}</p>
<br>


<button {{action 'delete' article}}>Delete</button>
