
<h1> Welcome to Bustle </h1>

<h2>Today's Top Stories</h2>

<ul>
  {{#each model.articles as |article|}}
    <li>{{#link-to 'article' article.id}}<img src={{article.image}} width=300px> <h3>{{article.heading}}</h3> {{/link-to}} {{article.starter}}<br> - by <em>{{article.author}}</em> <br>{{article.date}}</li>
  <br>{{/each}}
</ul>
{{new-article saveArticle="saveArticle"}}



{{#link-to 'index'}}Home |{{/link-to}}
{{#link-to 'about'}}About |{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
